[user]
	email = gilles.leblanc@gmail.com
	name = Gilles Leblanc
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	ui = true
[credential "https://github.com"]
  username = gilles-leblanc
[credential]
	helper = cache --timeout=1200
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
