[user]
	email = gilles.leblanc@gmail.com
	name = Gilles Leblanc
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	ui = true
[credential "https://github.com"]
  username = gilles-leblanc
[credential]
	helper = cache --timeout=300
